ДЗ:
1 - ГОТОВО - Шапка остаётся вверху экрана при прокручивании страницы.
2 - ГОТОВО - Контент вложен в блок, ширина которого жёстко задана и равна 1219px, боковые padding'и - по 55px.
3 - ГОТОВО - Клик по ссылкам в шапке должен переносить на соответствующие разделы страницы.
4 - ГОТОВО - При клике на лого должен происходить переход в самый верх страницы.
5 - ГОТОВО - Контент внутри секций должен быть выровнен по центру (используй margin auto), чтобы на больших экранах он не прилипал к правому краю. Попробуй понажимать Ctrl и  -, чтобы уменьшить масштаб в браузере. Макет, который справа - то, как страница должна отображаться на широком экране.
6 Чтобы расположить блоки в ряд, можно использовать display: inline-block.